* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
}
.encabezado-principal {
    background-color: #e30613;
    color: white;
    text-align: center;
    padding: 60px 30px;
    margin-bottom: 0;
}
.encabezado-principal h1 {
    font-size: 4em;
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
}
.encabezado-principal p {
    font-size: 1.3em;
    margin: 10px 0 0 0;
    font-weight: 300;
    letter-spacing: 3px;
    opacity: 1;
}
body {
    background-color: #f2f2f2;
}
.layout {
    display: grid;
    grid-template-columns: 1fr 3.2fr 1.5fr;
    gap: 30px;
    padding: 30px;
}
.menu {
    background-color: white;
    padding: 25px;
    border-radius: 14px;
    align-self: start;
    position: sticky;
    top: 30px;
}
.menu h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e30613;
}
.menu ul {
    list-style: none;
}
.menu a {
    display: block;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #e30613;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.menu a:hover {
    background-color: #b80510;
}
.bloque h2 {
    margin-bottom: 10px;
    color: #333;
}
.linea-roja {
    border: none;
    height: 4px;
    background-color: #e30613;
    width: 60px;
    margin-bottom: 30px;
}
.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-galeria img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 14px;
}
.grid-lugares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.ficha {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
}
.ficha img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}
.ficha h3 {
    color: #e30613;
    margin-bottom: 8px;
}
.ficha p {
    color: #666;
    margin-bottom: 10px;
    font-size: 0.95em;
}
.ficha span {
    display: block;
    color: #999;
    font-size: 0.85em;
}
#mapa iframe {
    width: 100%;
    height: 500px;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.noticias {
    display: grid;
    gap: 20px;
}
.noticia {
    height: 320px;
    padding: 15px;
    border-radius: 14px;
    flex-direction: column;
}
.texto-noticia .texto-completo {
    display: none;
}

.texto-noticia.expandido .texto-corto {
    display: none;
}

.texto-noticia.expandido .texto-completo {
    display: inline;
}
.noticia img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.noticia h4 {
    color: #e30613;
    margin-bottom: 8px;
    font-size: 1em;
}
.noticia p {
    color: #666;
    font-size: 0.85em;
    margin-bottom: 8px;
    flex-grow: 1;
}
.noticia a {
    color: #e30613;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 600;
}
.noticia a:hover {
    text-decoration: underline;
}
.carousel-item {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px; 
    display: block; 
}
.boton-flotante {
    position: fixed;
    top: 30px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
}
.boton-flotante img {
    width: 55px;
    height: auto;
}
@media (max-width: 900px) {
    .layout {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }
    .menu {
        position: static;
    }
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .grid-lugares {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }
    .noticia:last-child {
        grid-column: span 2;
    }
    .carousel-item {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px; 
    display: block; 
    }
}

@media (max-width: 600px) {
    .layout {
        padding: 15px;
        gap: 15px;
    }
    .bloque {
        padding: 20px;
        margin-bottom: 30px;
    }
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .grid-galeria img {
        height: 150px;
    }
    .grid-lugares {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .noticias {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
         gap: 20px;
    }
    .noticia:last-child {
        grid-column: auto;
        gap: 20px;
    }
    .boton-flotante {
        width: 60px;
        height: 60px;
        top: 15px;
        right: 15px;
    }
    .boton-flotante img {
        width: 45px;
    }
    .carousel-item {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px; 
    display: block; 
    }
}